.sectionName {
  color: white;
  display: block;
  text-decoration: none;
  font-size: 175%;
}

.sidebar-brand a {
  font-size: 1.75em!important;
}

.sidebar-nav, #sidebar-wrapper {
  background: #4a77ba!important;
  color: white;
}

.sidebar-nav li a {
  color: white!important;
  font-size: 110%
}

.sidebar-nav li a:hover {
  color: black!important;
  background: white!important;
}

.sidebar-nav li a:active {
  color: black!important;
  background: white!important;
}

#diagramImage {
  max-width: 100%!important;
}

canvas #overlay {

}
